/* Small size screen between Desktop and mobiles */


header a{
	padding: 10px;
	padding-top: 25px;
	font-size: 1em;
}

header img{
	width: 30%;
}

.center-text{
	width: 80%;
}

.list a {
	width: 40%;
}

/* Activés lors du redimenssionnement de la page */


.topnav ul.icon {
	float: right;
	display: block; /* Passe de none à block */
}

.topnav.responsive {position: relative;}

.topnav.responsive ul:not(:first-child) {
	float: none;
	display: block;
	text-align: left;
}

.topnav.responsive li {
	display: flex;
	flex-direction: column;
}

.topnav .icon {
	display: block;
	text-align: center;
	padding: 3%;
}

.topnav ul:not(:first-child){
	display: none;
}

.slideshow-container {
  padding-top: 46px;
}

.slider-text {
	color: #f2f2f2;
	padding: 10px 10px 10px 10px;
	text-align: left;
	margin-left: 30px;
}

.slider-text h1{
	font-size: 1.6em;
}

.slider-text button {
	font-size: 0.9em;
}

