/* mobiles devices screen configuration */


header a{
	font-size: 0.6em;
	padding: 5px 5px 5px 5px;
}

header img{
	width: 50% !important;
}

.portfolio-list{
	flex-direction: row;
}

.services-block{
	flex-direction: column;
}

.service-banner {
	width: 100%;
	text-align: justify;
}

.our-projects nav {
	font-size: 0.7em;
}

.list a {
	width: 100% !important;
}

.filter {
	font-size: 0.7em;
}

.form-class{
	height: auto;
	width: auto;
	padding-right: 20px;
}

.slideshow-container{
	padding-top: 45px;
}

.slider-text button {
	padding: 5px 10px 5px 10px;
}

.slider-text {
	font-size: 0.6em;
	line-height: 15px;
}

.map-and-foreground iframe {
	position: relative;
}

.form-class {
	position: relative;
}